<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LogParser</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        var files = [];
        var uploadedfiles = "";
        var maxdisplay = 50;
        $('#inputGroupFile02').on('change', function () {

            for (var i = 0; i < $(this)[0].files.length; i++) {
                files.push($(this)[0].files[i].name);
            }

            let current = files.join(', ');

            if (current.length > maxdisplay) {
                uploadedfiles = current.slice(0, maxdisplay) + '....';
            } else {
                uploadedfiles = current;
            }

            $(this).next('.custom-file-label').html(uploadedfiles);

        })
        $(document).ready(function () {
            $(".view").click(function () {
                $.ajax({
                    type: "GET",
                    url: "/Index?handler=ReData",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: { "param": $(this).attr('id')},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        try {
                            showResult(JSON.parse(response),true);
                        } catch (e) {
                            showResult(response, false);
                        }
                    }
                });
            });
        });
        function showResult(response, pretty) {
            $('.bg-result').css("display", "flex");
            $('#view-result').css("display", "block");
            if (pretty) {
                $('#view-result').html(JSON.stringify(response, null, 2));
            } else {
                $('#view-result').html(response);
            }
        }
        $('#view-result').click(function () {
            $('.bg-result').css("display", "none");
            $('#view-result').css("display", "none");
        })
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
